        <nav class="navbar navbar-expand-sm justify-content-end fixed-top" id="nbar">
            <a class="navbar-brand" href="#">Pet.find <i class="fa fa-paw"></i></a>

            <a class="nav-item nav-link" href="#">About us</a>
            <div class="collapse navbar-collapse flex-grow-0 ml-auto mr-1" id="navbarSupportedContent">
                <ul class="navbar-nav text-right">
                    <li class="nav-item active">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/signup">Sign up</a>
                    </li>
                </ul>
            </div>
        </nav>